.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{
  font-family: "Lora", serif;
}

*,::before, ::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --accent-color: #34495e;
  --bg-color: #ecf0f1;
  --main-font:"Lora", serif;
  --sub-font: "arial", sans-serif;
  --g-ratio: 1.618;
}

