.platypi-<uniquifier> {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --accent-color: #34495e;
  --bg-color:#ecf0f1;
  --main-font:"Platypi", serif;
  --sub-font:"arial",sans-serif;
  --g-ratio: 1.618;
}
